.Jumbotron{
		background-image:url('img');
		position: fixed;
		
		right: 100px;
		bottom: 500px;

		height:100px;
		width: 100px;
		background-size: cover;
		font-family: 'shift',sans-serif;
}
.Jumbotron a{
	font-family: 'shift',sans-serif;
	font-size: 50px;
	position: fixed;
	top: 440px;
	}